Package: nic-firmware
Source: linux-firmware
Version: 1.205kylin1
Architecture: all
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Installed-Size: 58117
Section: debian-installer
Priority: optional
Description: Firmware for NICs
 This package contains firmware needed by some network controllers.
