Package: linux-firmware
Version: 1.205kylin1
Architecture: all
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Installed-Size: 847633
Conflicts: atmel-firmware
Breaks: linux-firmware-raspi2 (<= 1.20190819-0ubuntu2), linux-firmware-snapdragon (<= 1.2-0ubuntu1)
Replaces: atmel-firmware, linux-firmware-snapdragon (<= 1.2-0ubuntu1), linux-restricted-common
Provides: atmel-firmware
Section: misc
Priority: optional
Multi-Arch: foreign
Description: Firmware for Linux kernel drivers
 This package provides firmware used by Linux kernel drivers.
