Package: scsi-firmware
Source: linux-firmware
Version: 1.205kylin1
Architecture: all
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Installed-Size: 1066
Section: debian-installer
Priority: optional
Description: Firmware for SCSI controllers
 This package contains firmware needed by some scsi controllers.
